node-red/.flows.json.backup
[
    {
        "id": "6db520c8e77fa5c3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "751eed6b0c447736",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-coap": "0.8.0"
        }
    },
    {
        "id": "73b48127bf2649bd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "789d4c41cb2d2dfb",
        "type": "tls-config",
        "name": "",
        "cert": "/certs/engine.crt",
        "key": "/certs/engine.key",
        "ca": "/certs/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "75bf69f74513b636",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "${MQTT_HOST}",
        "port": "8883",
        "tls": "789d4c41cb2d2dfb",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "901d655a3ea08a83",
        "type": "coap request",
        "z": "6db520c8e77fa5c3",
        "method": "GET",
        "confirmable": true,
        "observe": true,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "observe payload",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "4280949f68b0f07b",
                "640523f04dce4820"
            ]
        ]
    },
    {
        "id": "1adfd6869ecd5f84",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "abb9827f2ba950db"
            ]
        ]
    },
    {
        "id": "abb9827f2ba950db",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "observe coap",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 1);\nconst floorOffset = (floor - 1) * 20;\nconst coapHost = env.get(\"COAP_HOST\") || \"campus_engine\";\n\nfor (let room = 1; room <= 20; room+=2) {\n    const port = 5700 + floorOffset + room;\n    node.send({ url: `coap://${coapHost}:${port}/payload` });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "901d655a3ea08a83",
                "9fccc6fddf8f7f58"
            ]
        ]
    },
    {
        "id": "4280949f68b0f07b",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "mqtt conversion",
        "func": "msg.topic = `campus/b01/floor_${msg.payload.metadata.floor}/room_${msg.payload.metadata.room}/payload`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 320,
        "wires": [
            [
                "80bc2d88ac44be79",
                "3b22962487d0de80"
            ]
        ]
    },
    {
        "id": "80bc2d88ac44be79",
        "type": "mqtt out",
        "z": "6db520c8e77fa5c3",
        "name": "Mqtt out",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bf69f74513b636",
        "x": 1240,
        "y": 320,
        "wires": []
    },
    {
        "id": "9fccc6fddf8f7f58",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b22962487d0de80",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 220,
        "wires": []
    },
    {
        "id": "794dd6c193d3a444",
        "type": "mqtt in",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 950,
        "y": 500,
        "wires": [
            [
                "30b9849158dd80e5"
            ]
        ]
    },
    {
        "id": "30b9849158dd80e5",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 500,
        "wires": []
    },
    {
        "id": "ca17e0f31e5c9bd8",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "subscribe to all",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 1);\nconst floorOffset = (floor - 1) * 20;\nconst coapHost = env.get(\"COAP_HOST\") || \"campus_engine\";\n\nconst floorstr = floor.toString().padStart(2, '0');\n\nfor (let room = 2; room <= 20; room+=2) {\n\n    const roomstr = (floorOffset + room).toString().padStart(3, '0');\n\n    const port = 5700 + floorOffset + (room - 1);\n\n    node.send({\n        action: \"subscribe\",\n        topic: `campus/b01/floor_${floorstr}/room_${roomstr}/actuator/#`,\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "794dd6c193d3a444",
                "9c9c50a6c41bc118"
            ]
        ]
    },
    {
        "id": "27bf3acb16d1c2a3",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "ca17e0f31e5c9bd8"
            ]
        ]
    },
    {
        "id": "9c9c50a6c41bc118",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "5d0f52365bc0c73b",
        "type": "mqtt in",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "640523f04dce4820"
            ]
        ]
    },
    {
        "id": "22e26c359a3d010d",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "subscribe mqtt",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 1);\nconst floorOffset = (floor - 1) * 20;\n\nconst floorstr = floor.toString().padStart(2, '0');\n\nfor (let room = 1; room <= 20; room+=2) {\n\n    const roomstr = (floorOffset + room).toString().padStart(3, '0');\n\n    node.send({\n        action: \"subscribe\",\n        topic: `campus/b01/floor_${floorstr}/room_${roomstr}/payload`,\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 680,
        "wires": [
            [
                "5d0f52365bc0c73b"
            ]
        ]
    },
    {
        "id": "a6cc64f81a7c30db",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "22e26c359a3d010d"
            ]
        ]
    },
    {
        "id": "640523f04dce4820",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "accumulate for average",
        "func": "let rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0\n}));\n\nlet curr_room = (msg.payload.metadata.room - 1)%20;\nrooms[curr_room].count++;\nrooms[curr_room].temp_sum+=msg.payload.sensors.temperature;\n\nflow.set(\"rooms\",rooms);\n\nmsg.payload = rooms[curr_room];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 680,
        "wires": [
            [
                "062fdea63fb0f04e"
            ]
        ]
    },
    {
        "id": "ee8043c0beba5ba1",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 840,
        "wires": [
            [
                "e6119e4f8424d0b6"
            ]
        ]
    },
    {
        "id": "e6119e4f8424d0b6",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "function 2",
        "func": "let rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0\n}));\n\nfor (let i = 0; i < 20; i++) {\n    let room = rooms[i];\n\n    let avg = room.count > 0 ? room.temp_sum / room.count : 0;\n\n    node.send({\n        payload: {\n            room: i + 1,\n            average: avg\n        }\n    });\n}\nflow.set(\"rooms\",undefined);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 840,
        "wires": [
            [
                "d58541e2b69a6d99"
            ]
        ]
    },
    {
        "id": "d58541e2b69a6d99",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 840,
        "wires": []
    },
    {
        "id": "062fdea63fb0f04e",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 680,
        "wires": []
    }
]