node-red/.flows.json.backup
[
    {
        "id": "6db520c8e77fa5c3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tb_fwd_tab",
        "type": "tab",
        "label": "TB Forward",
        "disabled": false,
        "info": "Master-only: ingests all room telemetry from Mosquitto and forwards to ThingsBoard via the MQTT gateway API (v1/gateway/telemetry). Floor workers load this flow but the gate function discards messages when FLOOR_NUMBER != 0.",
        "env": []
    },
    {
        "id": "tb_cmd_tab",
        "type": "tab",
        "label": "TB Commands",
        "disabled": false,
        "info": "Master-only: receives TB attribute updates and RPC, routes to campus/b01/cmd/<deviceName> on Mosquitto. Workers pick up cmd topics and PUT to CoAP.",
        "env": []
    },
    {
        "id": "751eed6b0c447736",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-coap": "0.8.0"
        }
    },
    {
        "id": "73b48127bf2649bd",
        "type": "mqtt-broker",
        "name": "Mosquitto Plain",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "789d4c41cb2d2dfb",
        "type": "tls-config",
        "name": "",
        "cert": "/certs/engine.crt",
        "key": "/certs/engine.key",
        "ca": "/certs/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "75bf69f74513b636",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "${MQTT_HOST}",
        "port": "8883",
        "tls": "789d4c41cb2d2dfb",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tb_direct_broker",
        "type": "mqtt-broker",
        "name": "ThingsBoard Direct",
        "broker": "mytb",
        "port": "1883",
        "clientid": "nodered_master_gw",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "901d655a3ea08a83",
        "type": "coap request",
        "z": "6db520c8e77fa5c3",
        "method": "GET",
        "confirmable": true,
        "observe": true,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "observe payload",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "4280949f68b0f07b",
                "640523f04dce4820"
            ]
        ]
    },
    {
        "id": "1adfd6869ecd5f84",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "abb9827f2ba950db"
            ]
        ]
    },
    {
        "id": "abb9827f2ba950db",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "observe all function",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 0);\nif (floor === 0) {\n    node.warn('FLOOR_NUMBER=0: master node, skipping CoAP observation');\n    return null;\n}\nconst floorOffset = (floor - 1) * 20;\nconst coapHost = env.get(\"COAP_HOST\") || \"campus_engine\";\n\n// Cancel any stale timers from a previous trigger (flow redeploy or catch/retry loop)\nconst prev = context.get('timers') || [];\nprev.forEach(t => clearTimeout(t));\n\nconst timers = [];\nlet delay = 0;\nfor (let room = 1; room <= 20; room+=2) {\n    const port = 5700 + floorOffset + room - 1;\n    const t = setTimeout(() => {\n        node.send({ url: `coap://${coapHost}:${port}/payload` });\n    }, delay);\n    timers.push(t);\n    delay += 3000;\n}\ncontext.set('timers', timers);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "const timers = context.get('timers') || [];\ntimers.forEach(t => clearTimeout(t));\ncontext.set('timers', []);",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "901d655a3ea08a83",
                "9fccc6fddf8f7f58"
            ]
        ]
    },
    {
        "id": "4280949f68b0f07b",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "mqtt conversion",
        "func": "const meta = msg.payload.metadata;\n\n\nconst deviceName = meta.sensor_id + \"-COAP\";\n\n\nconst values = {\n    ...msg.payload.sensors,\n    ...msg.payload.actuators\n};\n\n\nvalues.building = meta.building;\nvalues.floor = meta.floor.toString();\nvalues.room = meta.room.toString();\n\n\nconst ts = Date.now();\n\n\nmsg.topic = \"v1/gateway/telemetry\";\n\n\nmsg.payload = JSON.stringify({\n    [deviceName]: [\n        {\n            ts: ts,\n            values: values\n        }\n    ]\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 260,
        "wires": [
            [
                "3b22962487d0de80",
                "4a0d9d37895f3192"
            ]
        ]
    },
    {
        "id": "80bc2d88ac44be79",
        "type": "mqtt out",
        "z": "6db520c8e77fa5c3",
        "name": "Mqtt out",
        "topic": "v1/gateway/telemetry",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 880,
        "y": 840,
        "wires": []
    },
    {
        "id": "9fccc6fddf8f7f58",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "url",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b22962487d0de80",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 200,
        "wires": []
    },
    {
        "id": "794dd6c193d3a444",
        "type": "mqtt in",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 830,
        "y": 500,
        "wires": [
            [
                "30b9849158dd80e5",
                "coap_cmd_parse",
                "worker_telemetry",
                "9c9c50a6c41bc118"
            ]
        ]
    },
    {
        "id": "30b9849158dd80e5",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 500,
        "wires": []
    },
    {
        "id": "ca17e0f31e5c9bd8",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "subscribe to all",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 0);\nif (floor === 0) {\n    node.warn('FLOOR_NUMBER=0: master node, skipping MQTT subscriptions');\n    return null;\n}\nconst floorOffset = (floor - 1) * 20;\nconst floorstr = floor.toString().padStart(2, '0');\n\n// Subscribe to all telemetry on this floor (MQTT rooms + CoAP-converted)\nnode.send({ action: \"subscribe\", topic: `campus/b01/f${floorstr}/+/telemetry` });\n\n// Subscribe to cmd topics for CoAP rooms on this floor\nfor (let room = 2; room <= 20; room += 2) {\n    const roomstr = (floorOffset + room).toString().padStart(3, '0');\n    node.send({\n        action: \"subscribe\",\n        topic: `campus/b01/cmd/b01-f${floorstr}-r${roomstr}-COAP`,\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "794dd6c193d3a444"
            ]
        ]
    },
    {
        "id": "27bf3acb16d1c2a3",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "ca17e0f31e5c9bd8"
            ]
        ]
    },
    {
        "id": "coap_err_catch",
        "type": "catch",
        "z": "6db520c8e77fa5c3",
        "name": "CoAP error",
        "scope": [
            "901d655a3ea08a83"
        ],
        "uncaught": false,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "coap_retry_delay"
            ]
        ]
    },
    {
        "id": "coap_retry_delay",
        "type": "delay",
        "z": "6db520c8e77fa5c3",
        "name": "debounce 15s",
        "pauseType": "rate",
        "timeout": "15",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "15",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "abb9827f2ba950db"
            ]
        ]
    },
    {
        "id": "worker_telemetry",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "floor telemetry",
        "func": "// Only process telemetry topics (not cmd)\nif (!msg.topic || !msg.topic.endsWith('/telemetry')) return null;\n\n// msg.payload is already parsed JSON (auto-detect broker setting)\n// Attach floor context for downstream calculations\nmsg.floor = Number(env.get('FLOOR_NUMBER') || 0);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "a6cc64f81a7c30db",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "500fec137fc44594"
            ]
        ]
    },
    {
        "id": "640523f04dce4820",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "accumulate for average",
        "func": "let rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0\n}));\n\nlet curr_room = (msg.payload.metadata.room - 1)%20;\nrooms[curr_room].count++;\nrooms[curr_room].temp_sum+=msg.payload.sensors.temperature;\n\nflow.set(\"rooms\",rooms);\n\nmsg.payload = rooms[curr_room];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 360,
        "wires": [
            [
                "062fdea63fb0f04e"
            ]
        ]
    },
    {
        "id": "ee8043c0beba5ba1",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 880,
        "wires": [
            [
                "e6119e4f8424d0b6"
            ]
        ]
    },
    {
        "id": "e6119e4f8424d0b6",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "function 2",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 0);\nif (floor === 0) {\n    node.warn('FLOOR_NUMBER=0: master node');\n    return null;\n}\nlet rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0\n}));\n\nfor (let i = 0; i < 20; i++) {\n    let room = rooms[i];\n\n    let avg = room.count > 0 ? room.temp_sum / room.count : 0;\n\n    // Build device name (adjust if needed)\n    const deviceName = `b01-f01-r${(i + 1).toString().padStart(3, '0')}`;\n\n    node.send({\n        topic: \"v1/gateway/telemetry\",\n        payload: JSON.stringify({\n            [deviceName]: [\n                {\n                    ts: Date.now(),\n                    values: {\n                        temperature: avg\n                    }\n                }\n            ]\n        })\n    });\n}\n\n// reset after sending\nflow.set(\"rooms\", undefined);\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 860,
        "wires": [
            [
                "d58541e2b69a6d99",
                "80bc2d88ac44be79"
            ]
        ]
    },
    {
        "id": "d58541e2b69a6d99",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 920,
        "wires": []
    },
    {
        "id": "062fdea63fb0f04e",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 320,
        "wires": []
    },
    {
        "id": "coap_cmd_parse",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "build CoAP PUT",
        "func": "const parts=msg.topic.split('/');const deviceName=parts[parts.length-1];const match=deviceName.match(/r([0-9]+)-COAP/);if(!match)return null;const roomNum=parseInt(match[1],10);const port=5700+roomNum-1;const coapHost=env.get('COAP_HOST')||'campus_engine';let payload;try{payload=typeof msg.payload==='string'?JSON.parse(msg.payload):msg.payload;}catch(e){return null;}if(payload.hvac_mode!==undefined){msg.url=`coap://${coapHost}:${port}/actuator/hvac`;msg.payload=JSON.stringify({hvac_mode:payload.hvac_mode});}else if(payload.lighting_dimmer!==undefined){msg.url=`coap://${coapHost}:${port}/actuator/light_dimmer`;msg.payload=JSON.stringify({lighting_dimmer:payload.lighting_dimmer});}else{return null;}return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 500,
        "wires": [
            [
                "coap_cmd_put"
            ]
        ]
    },
    {
        "id": "coap_cmd_put",
        "type": "coap request",
        "z": "6db520c8e77fa5c3",
        "method": "PUT",
        "confirmable": true,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "CoAP PUT actuator",
        "x": 1420,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4a0d9d37895f3192",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "access",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "500fec137fc44594",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "subscribe to all",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 0);\nif (floor === 0) {\n    node.warn('FLOOR_NUMBER=0: master node, skipping MQTT subscriptions');\n    return null;\n}\nconst floorOffset = (floor - 1) * 20;\nconst floorstr = floor.toString().padStart(2, '0');\n\nnode.send({ action: \"subscribe\", topic: `campus/b01/f${floorstr}/+/telemetry` });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 720,
        "wires": [
            [
                "3f2d8b5dfa3b447f"
            ]
        ]
    },
    {
        "id": "3f2d8b5dfa3b447f",
        "type": "mqtt in",
        "z": "6db520c8e77fa5c3",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 510,
        "y": 720,
        "wires": [
            [
                "93c01a668e58c7f0",
                "1c59a27402b552f0",
                "d69534778053eeda"
            ]
        ]
    },
    {
        "id": "93c01a668e58c7f0",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "1c59a27402b552f0",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "mqtt conversion 2",
        "func": "const p = msg.payload;\n\n\nconst deviceName = p.deviceName;\n\n\nconst skip = new Set([\"deviceName\", \"building\", \"floor\", \"room\", \"timestamp\"]);\n\nconst values = {};\nfor (const [k, v] of Object.entries(p)) {\n    if (!skip.has(k)) {\n        values[k] = v;\n    }\n}\n\n\nconst ts = p.timestamp ? p.timestamp * 1000 : Date.now();\n\n\nmsg.topic = \"v1/gateway/telemetry\";\n\nmsg.payload = JSON.stringify({\n    [deviceName]: [\n        {\n            ts: ts,\n            values: values\n        }\n    ]\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d69534778053eeda",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "accumulate for average 2",
        "func": "let rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0\n}));\n\nlet curr_room = (msg.payload.room - 1)%20;\nrooms[curr_room].count++;\nrooms[curr_room].temp_sum+=msg.payload.temperature;\n\nflow.set(\"rooms\",rooms);\n\nmsg.payload = rooms[curr_room];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 720,
        "wires": [
            [
                "9153fa5d176c9abe"
            ]
        ]
    },
    {
        "id": "9153fa5d176c9abe",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 720,
        "wires": []
    },
    {
        "id": "9c9c50a6c41bc118",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 560,
        "wires": []
    },
    {
        "id": "tb_fwd_inject",
        "type": "inject",
        "z": "tb_fwd_tab",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "tb_fwd_gate"
            ]
        ]
    },
    {
        "id": "tb_fwd_gate",
        "type": "function",
        "z": "tb_fwd_tab",
        "name": "master-only gate",
        "func": "// Only FLOOR_NUMBER=0 (master) subscribes to telemetry and forwards to ThingsBoard\nconst floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor !== 0) return null;\n\n// Send subscribe command to the dynamic MQTT-in node\nreturn { action: 'subscribe', topic: 'campus/b01/+/+/telemetry', qos: 1 };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "tb_fwd_in"
            ]
        ]
    },
    {
        "id": "tb_fwd_in",
        "type": "mqtt in",
        "z": "tb_fwd_tab",
        "name": "all telemetry",
        "topic": "",
        "qos": "1",
        "datatype": "json",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 1,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "tb_fwd_convert"
            ]
        ]
    },
    {
        "id": "tb_fwd_convert",
        "type": "function",
        "z": "tb_fwd_tab",
        "name": "gate + TB gateway format",
        "func": "// Only the master (FLOOR_NUMBER=0) forwards to ThingsBoard\nconst floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor !== 0) return null;\n\nconst p = msg.payload;\nif (!p || !p.deviceName) return null;\n\n// Fields to exclude from telemetry values\nconst skip = new Set(['deviceName', 'building', 'floor', 'room', 'timestamp']);\nconst values = {};\nfor (const [k, v] of Object.entries(p)) {\n    if (!skip.has(k)) values[k] = v;\n}\n\n// ThingsBoard expects timestamps in milliseconds\nconst ts = p.timestamp ? p.timestamp * 1000 : Date.now();\n\nmsg.payload = JSON.stringify({\n    [p.deviceName]: [{ ts, values }]\n});\nmsg.topic = 'v1/gateway/telemetry';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 460,
        "wires": [
            [
                "tb_fwd_out"
            ]
        ]
    },
    {
        "id": "tb_fwd_out",
        "type": "mqtt out",
        "z": "tb_fwd_tab",
        "name": "ThingsBoard gateway",
        "topic": "v1/gateway/telemetry",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "tb_cmd_inject",
        "type": "inject",
        "z": "tb_cmd_tab",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "tb_cmd_gate"
            ]
        ]
    },
    {
        "id": "tb_cmd_gate",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "master-only subscribe",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor !== 0) {\n    // Only the master node (floor 0) should subscribe to these gateway topics.\n    // Worker nodes will receive commands via the `campus/b01/cmd/...` topic.\n    return null;\n}\n\n// The master node subscribes to the ThingsBoard gateway topics for\n// shared attribute updates and RPC commands.\nnode.send({ action: 'subscribe', topic: 'v1/gateway/attributes'});\nnode.send({ action: 'subscribe', topic: 'v1/gateway/rpc'});\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "tb_cmd_in"
            ]
        ]
    },
    {
        "id": "tb_cmd_in",
        "type": "mqtt in",
        "z": "tb_cmd_tab",
        "name": "TB attr + rpc",
        "topic": "",
        "qos": "1",
        "datatype": "json",
        "broker": "tb_direct_broker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 1,
        "x": 520,
        "y": 200,
        "wires": [
            [
                "tb_cmd_parse",
                "38de2aef2354574c"
            ]
        ]
    },
    {
        "id": "tb_cmd_parse",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "route to Mosquitto cmd",
        "func": "const floor=Number(env.get('FLOOR_NUMBER')||0);\nif(floor!==0)return null;\n\nlet body;\ntry{body=typeof msg.payload==='string'?JSON.parse(msg.payload):msg.payload;}catch(e){return null;}\nconst deviceName=body.device;\nif(!deviceName)return null;\n\nlet cmd={};\nconst topic=msg.topic||'';\nlet rpcMsg = null;\n\nif(topic==='v1/gateway/attributes'){\n    const data=body.data||{};\n    if(data.hvac_mode!==undefined)cmd.hvac_mode=data.hvac_mode;\n    if(data.lighting_dimmer!==undefined)cmd.lighting_dimmer=parseInt(data.lighting_dimmer,10);\n}else if(topic==='v1/gateway/rpc'){\n    const d=body.data||{};\n    const method=d.method;\n    const params=d.params;\n    if(method==='hvac'||method==='hvac_mode'){\n        cmd.hvac_mode=typeof params==='object'?params.hvac_mode:params;\n    }else if(method==='light_dimmer'||method==='lighting_dimmer'){\n        cmd.lighting_dimmer=typeof params==='object'?params.lighting_dimmer:parseInt(params,10);\n    }\n    if (d.id !== undefined) {\n        rpcMsg = {\n            topic: 'v1/gateway/rpc',\n            payload: JSON.stringify({\n                device: deviceName,\n                id: d.id,\n                data: { success: true }\n            })\n        };\n    }\n}\n\nif(Object.keys(cmd).length===0) return [null, rpcMsg];\n\nlet cmdMsg = {\n    topic: `campus/b01/cmd/${deviceName}`,\n    payload: JSON.stringify(cmd)\n};\n\nreturn [cmdMsg, rpcMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 120,
        "wires": [
            [
                "tb_cmd_out"
            ],
            [
                "tb_rpc_reply_out"
            ]
        ]
    },
    {
        "id": "tb_cmd_out",
        "type": "mqtt out",
        "z": "tb_cmd_tab",
        "name": "Mosquitto cmd",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "73b48127bf2649bd",
        "x": 1180,
        "y": 120,
        "wires": []
    },
    {
        "id": "tb_rpc_reply_out",
        "type": "mqtt out",
        "z": "tb_cmd_tab",
        "name": "TB RPC Reply",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1180,
        "y": 180,
        "wires": []
    },
    {
        "id": "38de2aef2354574c",
        "type": "debug",
        "z": "tb_cmd_tab",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    }
]