node-red/flows.json
[
    {
        "id": "6db520c8e77fa5c3",
        "type": "tab",
        "label": "Floor Telemetry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tb_cmd_tab",
        "type": "tab",
        "label": "Floor Commands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "751eed6b0c447736",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-coap": "0.8.0"
        }
    },
    {
        "id": "73b48127bf2649bd",
        "type": "mqtt-broker",
        "name": "Mosquitto Plain",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "789d4c41cb2d2dfb",
        "type": "tls-config",
        "name": "",
        "cert": "/certs/engine.crt",
        "key": "/certs/engine.key",
        "ca": "/certs/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "75bf69f74513b636",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "${MQTT_HOST}",
        "port": "8883",
        "tls": "789d4c41cb2d2dfb",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tb_direct_broker",
        "type": "mqtt-broker",
        "name": "ThingsBoard Gateway",
        "broker": "mytb",
        "port": "8883",
        "tls": "0136b402d12a6338",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0136b402d12a6338",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "/certs/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "mqtt_subscribe_trigger",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "start telemetry subscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "mqtt_subscribe_logic"
            ]
        ]
    },
    {
        "id": "mqtt_subscribe_logic",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "Subscribe Floor MQTT",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorstr = floor.toString().padStart(2, '0');\nreturn {\n    action: 'subscribe',\n    topic: `campus/b01/f${floorstr}/+/telemetry`,\n    qos: 0\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "mqtt_in_telemetry"
            ]
        ]
    },
    {
        "id": "mqtt_in_telemetry",
        "type": "mqtt in",
        "z": "6db520c8e77fa5c3",
        "name": "Floor MQTT Sensors",
        "topic": "",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "uplink_formatter"
            ]
        ]
    },
    {
        "id": "uplink_formatter",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "Map MQTT to TB",
        "func": "let payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.error('MQTT payload parse failed: ' + e.message, msg);\n        return null;\n    }\n}\nif (!payload || !payload.deviceName) return null;\n\nconst hvac = payload.hvac_mode;\nconst telemetry = JSON.stringify({\n    [payload.deviceName]: [\n        {\n            ts: Date.now(),\n            values: {\n                temperature: payload.temperature,\n                humidity: payload.humidity,\n                occupancy: payload.occupancy,\n                light_level: payload.light_level,\n                hvac_mode: hvac,\n                hvac_status: hvac,\n                lighting_dimmer: payload.lighting_dimmer\n            }\n        }\n    ]\n});\n\nconst connect = JSON.stringify({ device: payload.deviceName });\nreturn [\n    { payload: telemetry },\n    { payload: connect },\n    { payload: payload }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [],
            [
                "tb_gateway_connect"
            ],
            [
                "d69534778053eeda"
            ]
        ]
    },
    {
        "id": "coap_sweeper_trigger",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "Every 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "coap_sweeper_logic"
            ]
        ]
    },
    {
        "id": "coap_sweeper_logic",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "CoAP Sweeper",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorOffset = (floor - 1) * 20;\nconst floorstr = floor.toString().padStart(2, '0');\nconst coapHost = env.get('COAP_HOST') || 'campus_engine';\nfor (let room = 1; room <= 20; room++) {\n    const roomId = floorOffset + room;\n    const port = 5700 + roomId - 1;\n    node.send({\n        url: `coap://${coapHost}:${port}/payload`,\n        method: 'GET',\n        roomId: `b01-f${floorstr}-r${roomId.toString().padStart(3, '0')}`\n    });\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "coap_request_node"
            ]
        ]
    },
    {
        "id": "coap_request_node",
        "type": "coap request",
        "z": "6db520c8e77fa5c3",
        "method": "GET",
        "confirmable": true,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Room Fetcher",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "coap_response_parser"
            ]
        ]
    },
    {
        "id": "coap_response_parser",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "Map CoAP to TB",
        "func": "let data;\nif (typeof msg.payload === 'object' && !Buffer.isBuffer(msg.payload)) {\n    data = msg.payload;\n} else {\n    const raw = Buffer.isBuffer(msg.payload) ? msg.payload.toString('utf8') : msg.payload;\n    try {\n        data = JSON.parse(raw);\n    } catch (e) {\n        node.error('CoAP JSON parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst deviceName = data.metadata.sensor_id + '-COAP';\nconst hvac = data.actuators.hvac_mode;\nconst telemetry = JSON.stringify({\n    [deviceName]: [\n        {\n            ts: Date.now(),\n            values: {\n                temperature: data.sensors.temperature,\n                humidity: data.sensors.humidity,\n                occupancy: data.sensors.occupancy,\n                light_level: data.sensors.light_level,\n                hvac_mode: hvac,\n                hvac_status: hvac,\n                lighting_dimmer: data.actuators.lighting_dimmer\n            }\n        }\n    ]\n});\nconst connect = JSON.stringify({ device: deviceName });\nreturn [\n    { payload: telemetry },\n    { payload: connect },\n    { payload: data }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 220,
        "wires": [
            [],
            [
                "tb_gateway_connect"
            ],
            [
                "640523f04dce4820"
            ]
        ]
    },
    {
        "id": "tb_gateway_out",
        "type": "mqtt out",
        "z": "6db520c8e77fa5c3",
        "name": "ThingsBoard Gateway Uplink",
        "topic": "v1/gateway/telemetry",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1300,
        "y": 680,
        "wires": []
    },
    {
        "id": "tb_gateway_connect",
        "type": "mqtt out",
        "z": "6db520c8e77fa5c3",
        "name": "ThingsBoard Gateway Connect",
        "topic": "v1/gateway/connect",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "640523f04dce4820",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "accumulate for average coap",
        "func": "let rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0,\n    humidity_sum: 0,\n    occupancy: 0,\n    light_level: 0,\n    hvac_mode: 'off',\n    hvac_status: 'off',\n    lighting_dimmer: 0\n}));\n\nconst curr_room = (msg.payload.metadata.room - 1) % 20;\nconst room = rooms[curr_room];\nconst sensors = msg.payload.sensors || {};\nconst actuators = msg.payload.actuators || {};\n\nroom.count++;\nroom.temp_sum += Number(sensors.temperature || 0);\nroom.humidity_sum += Number(sensors.humidity || 0);\nif (sensors.occupancy !== undefined) room.occupancy = sensors.occupancy;\nif (sensors.light_level !== undefined) room.light_level = sensors.light_level;\nif (actuators.hvac_mode !== undefined) {\n    room.hvac_mode = actuators.hvac_mode;\n    room.hvac_status = actuators.hvac_mode;\n}\nif (actuators.lighting_dimmer !== undefined) room.lighting_dimmer = actuators.lighting_dimmer;\n\nflow.set(\"rooms\", rooms);\nmsg.payload = room;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "062fdea63fb0f04e"
            ]
        ]
    },
    {
        "id": "062fdea63fb0f04e",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 200,
        "wires": []
    },
    {
        "id": "d69534778053eeda",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "accumulate for average mqtt",
        "func": "let rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0,\n    humidity_sum: 0,\n    occupancy: 0,\n    light_level: 0,\n    hvac_mode: 'off',\n    hvac_status: 'off',\n    lighting_dimmer: 0\n}));\n\nconst curr_room = (msg.payload.room - 1) % 20;\nconst room = rooms[curr_room];\n\nroom.count++;\nroom.temp_sum += Number(msg.payload.temperature || 0);\nroom.humidity_sum += Number(msg.payload.humidity || 0);\nif (msg.payload.occupancy !== undefined) room.occupancy = msg.payload.occupancy;\nif (msg.payload.light_level !== undefined) room.light_level = msg.payload.light_level;\nif (msg.payload.hvac_mode !== undefined) {\n    room.hvac_mode = msg.payload.hvac_mode;\n    room.hvac_status = msg.payload.hvac_mode;\n}\nif (msg.payload.hvac_status !== undefined) room.hvac_status = msg.payload.hvac_status;\nif (msg.payload.lighting_dimmer !== undefined) room.lighting_dimmer = msg.payload.lighting_dimmer;\n\nflow.set(\"rooms\", rooms);\nmsg.payload = room;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 80,
        "wires": [
            [
                "9153fa5d176c9abe"
            ]
        ]
    },
    {
        "id": "9153fa5d176c9abe",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 60,
        "wires": []
    },
    {
        "id": "ee8043c0beba5ba1",
        "type": "inject",
        "z": "6db520c8e77fa5c3",
        "name": "Every 60s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "e6119e4f8424d0b6"
            ]
        ]
    },
    {
        "id": "e6119e4f8424d0b6",
        "type": "function",
        "z": "6db520c8e77fa5c3",
        "name": "Send Averages",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 0);\nif (floor === 0) return null;\nconst floorOffset = (floor - 1) * 20;\nconst floorstr = floor.toString().padStart(2, '0');\nlet rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0,\n    humidity_sum: 0,\n    occupancy: 0,\n    light_level: 0,\n    hvac_mode: 'off',\n    hvac_status: 'off',\n    lighting_dimmer: 0\n}));\n\nfor (let i = 0; i < 20; i++) {\n    const room = rooms[i];\n    const count = room.count || 0;\n    const roomId = floorOffset + i + 1;\n    let deviceName;\n    if(!(i%2)) {deviceName = `b01-f${floorstr}-r${roomId.toString().padStart(3, '0')}`}\n    else { deviceName = `b01-f${floorstr}-r${roomId.toString().padStart(3, '0')}-COAP` }\n\n    node.send({\n        payload: JSON.stringify({\n            [deviceName]: [\n                {\n                    ts: Date.now(),\n                    values: {\n                        temperature: count > 0 ? room.temp_sum / count : 0,\n                        humidity: count > 0 ? room.humidity_sum / count : 0,\n                        occupancy: room.occupancy,\n                        light_level: room.light_level,\n                        hvac_mode: room.hvac_mode,\n                        hvac_status: room.hvac_status,\n                        lighting_dimmer: room.lighting_dimmer\n                    }\n                }\n            ]\n        })\n    });\n}\n\nflow.set(\"rooms\", undefined);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 740,
        "wires": [
            [
                "d58541e2b69a6d99",
                "tb_gateway_out"
            ]
        ]
    },
    {
        "id": "d58541e2b69a6d99",
        "type": "debug",
        "z": "6db520c8e77fa5c3",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "mqtt_ack_subscribe_trigger",
        "type": "inject",
        "z": "tb_cmd_tab",
        "name": "start ack subscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "mqtt_ack_subscribe_logic"
            ]
        ]
    },
    {
        "id": "mqtt_cmd_subscribe_trigger",
        "type": "inject",
        "z": "tb_cmd_tab",
        "name": "start cmd subscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "mqtt_cmd_subscribe_logic"
            ]
        ]
    },
    {
        "id": "mqtt_cmd_subscribe_logic",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "Subscribe Floor Cmd",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorstr = floor.toString().padStart(2, '0');\nreturn {\n    action: 'subscribe',\n    topic: `campus/b01/cmd/f${floorstr}/+`,\n    qos: 2\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "mqtt_cmd_in"
            ]
        ]
    },
    {
        "id": "mqtt_cmd_in",
        "type": "mqtt in",
        "z": "tb_cmd_tab",
        "name": "Floor Cmd",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "route_floor_command"
            ]
        ]
    },
    {
        "id": "route_floor_command",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "Route Floor Command",
        "func": "const topic = msg.topic || '';\nconst match = topic.match(/^campus\\/b01\\/cmd\\/f(\\d{2})\\/r(\\d{3})$/);\nif (!match) return null;\n\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.error('Command payload parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst floorNum = parseInt(match[1], 10);\nconst roomNum = parseInt(match[2], 10);\nconst transport = payload.transport || 'mqtt';\nconst deviceName = payload.device_name || `b01-f${match[1]}-r${match[2]}`;\nconst commandId = payload.command_id;\nif (!commandId) {\n    node.error('Missing command_id for floor command', msg);\n    return null;\n}\n\nconst pending = flow.get('pendingRpcAcks') || {};\nconst state = pending[commandId];\nif (!state) {\n    node.warn(`No pending RPC state for command_id ${commandId}`);\n    return null;\n}\n\nif (transport === 'coap') {\n    return [null, {\n        topic,\n        payload,\n        floorNum,\n        roomNum,\n        deviceName,\n        _rpc: {\n            commandId,\n            deviceName: state.deviceName,\n            rpcId: state.rpcId,\n            startedAt: state.startedAt,\n            requested: state.requested\n        }\n    }];\n}\n\nreturn [{\n    topic: `campus/b01/cmd/${deviceName}`,\n    payload: JSON.stringify({\n        ...payload,\n        command_id: commandId\n    })\n}, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 640,
        "wires": [
            [
                "mqtt_out_command"
            ],
            [
                "coap_cmd_from_topic"
            ]
        ]
    },
    {
        "id": "coap_cmd_from_topic",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "Build CoAP PUT from Cmd",
        "func": "const roomNum = Number(msg.roomNum);\nif (!roomNum) return null;\n\nconst payload = msg.payload || {};\nconst coapHost = env.get('COAP_HOST') || 'campus_engine';\nconst cmdPayload = {};\nlet actuator = null;\nif (payload.hvac_mode !== undefined) {\n    cmdPayload.hvac_mode = payload.hvac_mode;\n    actuator = 'hvac';\n}\nif (payload.lighting_dimmer !== undefined) {\n    cmdPayload.lighting_dimmer = payload.lighting_dimmer;\n    actuator = 'light_dimmer';\n}\nif (!actuator) return null;\n\nmsg.url = `coap://${coapHost}:${5700 + roomNum - 1}/actuator/${actuator}`;\nmsg.method = 'PUT';\nmsg.payload = cmdPayload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "coap_put_command"
            ]
        ]
    },
    {
        "id": "mqtt_ack_subscribe_logic",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "Subscribe Floor Acks",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorstr = floor.toString().padStart(2, '0');\nnode.send({ action: 'subscribe', topic: `campus/b01/f${floorstr}/+/ack/hvac_applied`, qos: 2 });\nnode.send({ action: 'subscribe', topic: `campus/b01/f${floorstr}/+/ack/light_dimmer_applied`, qos: 2 });\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "mqtt_ack_in"
            ]
        ]
    },
    {
        "id": "mqtt_ack_in",
        "type": "mqtt in",
        "z": "tb_cmd_tab",
        "name": "Room Applied Ack",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "mqtt_ack_handler"
            ]
        ]
    },
    {
        "id": "mqtt_ack_handler",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "Handle MQTT Ack",
        "func": "let payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.error('MQTT ack parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst commandId = payload && payload.command_id;\nif (!commandId) return null;\n\nconst pending = flow.get('pendingRpcAcks') || {};\nconst state = pending[commandId];\nif (!state) return null;\n\ndelete pending[commandId];\nflow.set('pendingRpcAcks', pending);\n\nconst rttMs = Date.now() - state.startedAt;\nconst ackValues = {\n    rtt_ms: rttMs\n};\nif (payload.hvac_mode !== undefined) {\n    ackValues.hvac_mode = String(payload.hvac_mode).toLowerCase();\n    ackValues.hvac_status = String(payload.hvac_mode).toLowerCase();\n}\nif (payload.lighting_dimmer !== undefined) {\n    ackValues.lighting_dimmer = payload.lighting_dimmer;\n}\nif (state.requested !== undefined) {\n    ackValues.requested_value = state.requested;\n}\n\nreturn [\n    {\n        payload: JSON.stringify({\n            device: state.deviceName,\n            id: state.rpcId,\n            data: {\n                success: true,\n                state: payload.hvac_mode !== undefined ? String(payload.hvac_mode).toLowerCase() : payload.lighting_dimmer,\n                rtt_ms: rttMs,\n                ack: payload\n            }\n        })\n    },\n    {\n        payload: JSON.stringify({\n            [state.deviceName]: [\n                {\n                    ts: Date.now(),\n                    values: ackValues\n                }\n            ]\n        })\n    },\n    {\n        payload: {\n            source: 'mqtt-ack',\n            command_id: commandId,\n            device: state.deviceName,\n            rtt_ms: rttMs,\n            ack: payload\n        }\n    }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 480,
        "wires": [
            [
                "tb_rpc_reply_out",
                "698761cd744756f6"
            ],
            [
                "tb_gateway_out_cmd"
            ],
            [
                "tb_rpc_debug"
            ]
        ]
    },
    {
        "id": "tb_rpc_in",
        "type": "mqtt in",
        "z": "tb_cmd_tab",
        "name": "ThingsBoard RPC Listener",
        "topic": "v1/gateway/rpc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "tb_direct_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "tb_rpc_debug",
                "tb_rpc_router"
            ]
        ]
    },
    {
        "id": "tb_rpc_router",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "RPC Protocol Router",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\n\nlet body = msg.payload;\nif (typeof body === 'string') {\n    try {\n        body = JSON.parse(body);\n    } catch (e) {\n        node.error('TB RPC parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst fullDeviceName = body.device;\nconst rpcData = body.data || {};\nconst method = rpcData.method;\nconst params = rpcData.params;\nconst rpcId = rpcData.id;\nif (!fullDeviceName || rpcId === undefined) return null;\n\nconst isCoap = fullDeviceName.endsWith('-COAP');\nconst deviceName = isCoap ? fullDeviceName.replace(/-COAP$/, '') : fullDeviceName;\nconst deviceMatch = deviceName.match(/^b01-f(\\d{2})-r(\\d{3})$/);\nif (!deviceMatch) {\n    node.error('Unsupported device name format: ' + fullDeviceName, msg);\n    return null;\n}\n\nlet cmdPayload = null;\nlet ackTopic = null;\nif (method === 'hvac' || method === 'hvac_mode') {\n    cmdPayload = { hvac_mode: typeof params === 'object' ? params.hvac_mode : params };\n    ackTopic = 'hvac_applied';\n} else if (method === 'light_dimmer' || method === 'lighting_dimmer') {\n    const rawValue = typeof params === 'object' ? params.lighting_dimmer : params;\n    cmdPayload = { lighting_dimmer: parseInt(rawValue, 10) };\n    ackTopic = 'light_dimmer_applied';\n}\nif (!cmdPayload) return null;\n\nconst commandId = `${fullDeviceName}:${rpcId}:${Date.now()}`;\nconst pending = flow.get('pendingRpcAcks') || {};\npending[commandId] = {\n    deviceName: fullDeviceName,\n    rpcId,\n    startedAt: Date.now(),\n    requested: Object.values(cmdPayload)[0],\n    ackTopic\n};\nflow.set('pendingRpcAcks', pending);\n\nreturn {\n    topic: `campus/b01/cmd/f${deviceMatch[1]}/r${deviceMatch[2]}`,\n    payload: JSON.stringify({\n        ...cmdPayload,\n        command_id: commandId,\n        device_name: deviceName,\n        transport: isCoap ? 'coap' : 'mqtt'\n    })\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "mqtt_out_command"
            ]
        ]
    },
    {
        "id": "mqtt_out_command",
        "type": "mqtt out",
        "z": "tb_cmd_tab",
        "name": "MQTT Command Publisher",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bf69f74513b636",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "coap_put_command",
        "type": "coap request",
        "z": "tb_cmd_tab",
        "method": "PUT",
        "confirmable": true,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "CoAP Command PUT",
        "x": 760,
        "y": 300,
        "wires": [
            [
                "coap_ack_handler"
            ]
        ]
    },
    {
        "id": "coap_ack_handler",
        "type": "function",
        "z": "tb_cmd_tab",
        "name": "Handle CoAP Ack",
        "func": "const rpc = msg._rpc;\nif (!rpc || !rpc.commandId) return null;\n\nlet payload = msg.payload;\nif (Buffer.isBuffer(payload)) {\n    payload = payload.toString('utf8');\n}\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.error('CoAP ack parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst pending = flow.get('pendingRpcAcks') || {};\ndelete pending[rpc.commandId];\nflow.set('pendingRpcAcks', pending);\n\nconst rttMs = Date.now() - rpc.startedAt;\nconst ackValues = { rtt_ms: rttMs };\nif (payload.hvac_mode !== undefined) {\n    ackValues.hvac_mode = String(payload.hvac_mode).toLowerCase();\n    ackValues.hvac_status = String(payload.hvac_mode).toLowerCase();\n}\nif (payload.lighting_dimmer !== undefined) {\n    ackValues.lighting_dimmer = payload.lighting_dimmer;\n}\nif (payload.ambient !== undefined) {\n    ackValues.light_level = payload.ambient;\n}\nif (rpc.requested !== undefined) {\n    ackValues.requested_value = rpc.requested;\n}\n\nreturn [\n    {\n        payload: JSON.stringify({\n            device: rpc.deviceName,\n            id: rpc.rpcId,\n            data: {\n                success: true,\n                state: payload.hvac_mode !== undefined ? String(payload.hvac_mode).toLowerCase() : payload.lighting_dimmer,\n                rtt_ms: rttMs,\n                ack: payload\n            }\n        })\n    },\n    {\n        payload: JSON.stringify({\n            [rpc.deviceName]: [\n                {\n                    ts: Date.now(),\n                    values: ackValues\n                }\n            ]\n        })\n    },\n    {\n        payload: {\n            source: 'coap-ack',\n            command_id: rpc.commandId,\n            device: rpc.deviceName,\n            rtt_ms: rttMs,\n            ack: payload\n        }\n    }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 340,
        "wires": [
            [
                "tb_rpc_reply_out"
            ],
            [
                "tb_gateway_out_cmd"
            ],
            [
                "tb_rpc_debug"
            ]
        ]
    },
    {
        "id": "tb_gateway_out_cmd",
        "type": "mqtt out",
        "z": "tb_cmd_tab",
        "name": "ThingsBoard Gateway Uplink",
        "topic": "v1/gateway/telemetry",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1290,
        "y": 500,
        "wires": []
    },
    {
        "id": "tb_rpc_reply_out",
        "type": "mqtt out",
        "z": "tb_cmd_tab",
        "name": "ThingsBoard rpc verify",
        "topic": "v1/gateway/rpc",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "tb_rpc_debug",
        "type": "debug",
        "z": "tb_cmd_tab",
        "name": "TB RPC Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 80,
        "wires": []
    },
    {
        "id": "698761cd744756f6",
        "type": "debug",
        "z": "tb_cmd_tab",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 760,
        "wires": []
    }
]