node-red/flows.json
[
    {
        "id": "4de071ee91dab2f5",
        "type": "tab",
        "label": "Recovered Nodes",
        "disabled": false,
        "info": "The nodes on this flow were missing a valid flow id when they were imported. They have been added to this flow so you can either restore or delete them.",
        "env": []
    },
    {
        "id": "cee4ba86b582e75a",
        "type": "tab",
        "label": "Floor Telemetry",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e64a6d9b89c72938",
        "type": "tab",
        "label": "Floor Commands",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a883c4c7b5b592f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "344839dc27ea415b933d2fdb7a1acd71.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f205544fc26ee1c2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "344839dc27ea415b933d2fdb7a1acd71.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c23b091ae6439de6",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "73b48127bf2649bd",
        "type": "mqtt-broker",
        "name": "Mosquitto Plain",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "789d4c41cb2d2dfb",
        "type": "tls-config",
        "name": "",
        "cert": "/certs/engine.crt",
        "key": "/certs/engine.key",
        "ca": "/certs/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "75bf69f74513b636",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "${MQTT_HOST}",
        "port": "8883",
        "tls": "789d4c41cb2d2dfb",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0136b402d12a6338",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "/certs/ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "tb_direct_broker",
        "type": "mqtt-broker",
        "name": "ThingsBoard Gateway",
        "broker": "mytb",
        "port": "8883",
        "tls": "0136b402d12a6338",
        "clientid": "${TB_GATEWAY_CLIENT_ID}",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c3a4178786dbba92",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-contrib-coap": "0.8.0"
        }
    },
    {
        "id": "silencer_node",
        "type": "catch",
        "z": "4de071ee91dab2f5",
        "name": "Error Silencer",
        "scope": null,
        "uncaught": false,
        "x": 100,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3c2aea3be9521a75",
        "type": "inject",
        "z": "cee4ba86b582e75a",
        "name": "start telemetry subscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "72b1927147425a91"
            ]
        ]
    },
    {
        "id": "72b1927147425a91",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "Subscribe Floor MQTT",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorstr = floor.toString().padStart(2, '0');\nreturn {\n    action: 'subscribe',\n    topic: `campus/b01/f${floorstr}/+/telemetry`,\n    qos: 0\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "617439d4788bfb98"
            ]
        ]
    },
    {
        "id": "617439d4788bfb98",
        "type": "mqtt in",
        "z": "cee4ba86b582e75a",
        "name": "Floor MQTT Sensors",
        "topic": "",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "918b990f2964491d"
            ]
        ]
    },
    {
        "id": "918b990f2964491d",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "Map MQTT to TB",
        "func": "\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try { payload = JSON.parse(payload); } catch (e) { return null; }\n}\n\n// Extract Device Name from Payload or Topic\n// Topic format: campus/b01/fXX/rYYY/telemetry\nlet deviceName = payload.deviceName;\nif (!deviceName && msg.topic) {\n    const parts = msg.topic.split('/');\n    if (parts.length >= 4) {\n        deviceName = `b01-${parts[2]}-${parts[3]}`;\n    }\n}\n\nif (!deviceName) return null;\n\n// Normalize hvac_mode (engine sends lowercase, TB expects uppercase or consistent format)\nconst hvac = (payload.hvac_mode || payload.hvac_status || '').toUpperCase();\n\nlet values = {};\nif (payload.security_alert) {\n    values = {\n        security_alert: payload.security_alert,\n        room_id: payload.room_id || deviceName,\n        alert_timestamp: payload.timestamp || Date.now()\n    };\n} else {\n    values = {\n        temperature: payload.temperature,\n        humidity: payload.humidity,\n        occupancy: payload.occupancy,\n        light_level: payload.light_level,\n        hvac_mode: hvac,\n        hvac_status: hvac,\n        lighting_dimmer: payload.lighting_dimmer,\n        current_version: payload.current_version,\n        alpha: payload.alpha,\n        beta: payload.beta\n    };\n}\n\nconst telemetry = JSON.stringify({\n    [deviceName]: [{\n        ts: payload.timestamp ? payload.timestamp * 1000 : Date.now(),\n        values: values\n    }]\n});\n\nconst connect = JSON.stringify({ device: deviceName });\n\nreturn [\n    { payload: telemetry },\n    { payload: connect },\n    { payload: payload },\n    { payload: JSON.stringify({ [deviceName]: { polygonIndex: parseInt(deviceName.split('-r')[1]) % 20 } }) }\n];\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 100,
        "wires": [
            [
                "telemetry_debug",
                "abb58e212e9ce56b"
            ],
            [
                "a170df13d2c8a7e6"
            ],
            [
                "7ddee157087396b3"
            ],
            [
                "c92d97f6a1c80bb5"
            ]
        ]
    },
    {
        "id": "8e9ba72fdb3b8272",
        "type": "inject",
        "z": "cee4ba86b582e75a",
        "name": "Every 5s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "cb57867ca1bbbf9d"
            ]
        ]
    },
    {
        "id": "cb57867ca1bbbf9d",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "CoAP Sweeper",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorOffset = (floor - 1) * 20;\nconst floorstr = floor.toString().padStart(2, '0');\nconst coapHost = env.get('COAP_HOST') || 'campus_engine';\nfor (let room = 1; room <= 20; room++) {\n    const roomId = floorOffset + room;\n    const port = 5700 + roomId - 1;\n    node.send({\n        url: `coap://${coapHost}:${port}/payload`,\n        method: 'GET',\n        roomId: `b01-f${floorstr}-r${roomId.toString().padStart(3, '0')}`\n    });\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "2ba2fd370f9a2ea2"
            ]
        ]
    },
    {
        "id": "2ba2fd370f9a2ea2",
        "type": "coap request",
        "z": "cee4ba86b582e75a",
        "method": "GET",
        "confirmable": true,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "Room Fetcher",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "3fee8d371c2faf8a"
            ]
        ]
    },
    {
        "id": "3fee8d371c2faf8a",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "Map CoAP to TB",
        "func": "let data;\nif (typeof msg.payload === 'object' && !Buffer.isBuffer(msg.payload)) {\n    data = msg.payload;\n} else {\n    const raw = Buffer.isBuffer(msg.payload) ? msg.payload.toString('utf8') : msg.payload;\n    try {\n        data = JSON.parse(raw);\n    } catch (e) {\n        node.error('CoAP JSON parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst deviceName = data.metadata ? data.metadata.sensor_id + '-COAP' : data.deviceName;\nlet values = {};\n\nif (data.security_alert) {\n    values = {\n        security_alert: data.security_alert,\n        room_id: data.room_id || deviceName,\n        alert_timestamp: data.timestamp || Date.now()\n    };\n} else {\n    const hvac = data.actuators.hvac_mode;\n    values = {\n        temperature: data.sensors.temperature,\n        humidity: data.sensors.humidity,\n        occupancy: data.sensors.occupancy,\n        light_level: data.sensors.light_level,\n        hvac_mode: hvac,\n        hvac_status: hvac,\n        lighting_dimmer: data.actuators.lighting_dimmer,\n        current_version: data.metadata.version,\n        alpha: data.metadata.alpha,\n        beta: data.metadata.beta\n    };\n}\n\nconst telemetry = JSON.stringify({\n    [deviceName]: [{\n        ts: Date.now(),\n        values: values\n    }]\n});\n\nconst connect = JSON.stringify({ device: deviceName });\nconst match = deviceName.match(/r(\\d+)/i);\nconst roomNumber = (match ? parseInt(match[1], 10) : 0) % 20;\nconst attributes = JSON.stringify({\n    [deviceName]: {\n        polygonIndex: roomNumber\n    }\n});\n\nreturn [\n    { payload: telemetry },\n    { payload: connect },\n    { payload: data },\n    { payload: attributes }\n];\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 220,
        "wires": [
            [
                "telemetry_debug"
            ],
            [
                "a170df13d2c8a7e6"
            ],
            [
                "cf208fe868f2f72d"
            ],
            [
                "c92d97f6a1c80bb5"
            ]
        ]
    },
    {
        "id": "abb58e212e9ce56b",
        "type": "mqtt out",
        "z": "cee4ba86b582e75a",
        "name": "ThingsBoard Gateway Uplink",
        "topic": "v1/gateway/telemetry",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1300,
        "y": 680,
        "wires": []
    },
    {
        "id": "a170df13d2c8a7e6",
        "type": "mqtt out",
        "z": "cee4ba86b582e75a",
        "name": "ThingsBoard Gateway Connect",
        "topic": "v1/gateway/connect",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "cf208fe868f2f72d",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "accumulate for average coap",
        "func": "let rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0,\n    humidity_sum: 0,\n    occupancy: 0,\n    light_level: 0,\n    hvac_mode: 'off',\n    hvac_status: 'off',\n    lighting_dimmer: 0\n}));\n\nconst curr_room = (msg.payload.metadata.room - 1) % 20;\nconst room = rooms[curr_room];\nconst sensors = msg.payload.sensors || {};\nconst actuators = msg.payload.actuators || {};\nconst metadata = msg.payload.metadata || {};\n\nroom.count++;\nroom.temp_sum += Number(sensors.temperature || 0);\nroom.humidity_sum += Number(sensors.humidity || 0);\nif (sensors.occupancy !== undefined) room.occupancy = sensors.occupancy;\nif (sensors.light_level !== undefined) room.light_level = sensors.light_level;\nif (actuators.hvac_mode !== undefined) {\n    room.hvac_mode = actuators.hvac_mode;\n    room.hvac_status = actuators.hvac_mode;\n}\nif (actuators.lighting_dimmer !== undefined) room.lighting_dimmer = actuators.lighting_dimmer;\n\n// Config values - attached without averaging\nif (metadata.alpha !== undefined) room.alpha = metadata.alpha;\nif (metadata.beta !== undefined) room.beta = metadata.beta;\nif (metadata.version !== undefined) room.version = metadata.version;\n\nflow.set(\"rooms\", rooms);\nmsg.payload = room;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "d11494a69ed920b4"
            ]
        ]
    },
    {
        "id": "d11494a69ed920b4",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 200,
        "wires": []
    },
    {
        "id": "7ddee157087396b3",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "accumulate for average mqtt",
        "func": "let rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0,\n    humidity_sum: 0,\n    occupancy: 0,\n    light_level: 0,\n    hvac_mode: 'off',\n    hvac_status: 'off',\n    lighting_dimmer: 0\n}));\n\nconst curr_room = (msg.payload.room - 1) % 20;\nconst room = rooms[curr_room];\n\nroom.count++;\nroom.temp_sum += Number(msg.payload.temperature || 0);\nroom.humidity_sum += Number(msg.payload.humidity || 0);\nif (msg.payload.occupancy !== undefined) room.occupancy = msg.payload.occupancy;\nif (msg.payload.light_level !== undefined) room.light_level = msg.payload.light_level;\nif (msg.payload.hvac_mode !== undefined) {\n    room.hvac_mode = msg.payload.hvac_mode;\n    room.hvac_status = msg.payload.hvac_mode;\n}\nif (msg.payload.hvac_status !== undefined) room.hvac_status = msg.payload.hvac_status;\nif (msg.payload.lighting_dimmer !== undefined) room.lighting_dimmer = msg.payload.lighting_dimmer;\n\n// Config values - attached without averaging\nif (msg.payload.alpha !== undefined) room.alpha = msg.payload.alpha;\nif (msg.payload.beta !== undefined) room.beta = msg.payload.beta;\nif (msg.payload.current_version !== undefined) room.version = msg.payload.current_version;\n\nflow.set(\"rooms\", rooms);\nmsg.payload = room;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 80,
        "wires": [
            [
                "803dbe7036aa20ac"
            ]
        ]
    },
    {
        "id": "803dbe7036aa20ac",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 60,
        "wires": []
    },
    {
        "id": "0068d1b502eae9d8",
        "type": "inject",
        "z": "cee4ba86b582e75a",
        "name": "Every 60s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "9df48487b76295ef"
            ]
        ]
    },
    {
        "id": "9df48487b76295ef",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "Send Averages",
        "func": "const floor = Number(env.get(\"FLOOR_NUMBER\") || 0);\nif (floor === 0) return null;\nconst floorOffset = (floor - 1) * 20;\nconst floorstr = floor.toString().padStart(2, '0');\nlet rooms = flow.get(\"rooms\") || Array.from({ length: 20 }, () => ({\n    count: 0,\n    temp_sum: 0,\n    humidity_sum: 0,\n    occupancy: 0,\n    light_level: 0,\n    hvac_mode: 'off',\n    hvac_status: 'off',\n    lighting_dimmer: 0\n}));\n\nfor (let i = 0; i < 20; i++) {\n    const room = rooms[i];\n    const count = room.count || 0;\n    const roomId = floorOffset + i + 1;\n    let deviceName;\n    if(!(i%2)) {deviceName = `b01-f${floorstr}-r${roomId.toString().padStart(3, '0')}`}\n    else { deviceName = `b01-f${floorstr}-r${roomId.toString().padStart(3, '0')}-COAP` }\n\n    node.send({\n        payload: JSON.stringify({\n            [deviceName]: [\n                {\n                    ts: Date.now(),\n                    values: {\n                        temperature: count > 0 ? room.temp_sum / count : 0,\n                        humidity: count > 0 ? room.humidity_sum / count : 0,\n                        occupancy: room.occupancy,\n                        light_level: room.light_level,\n                        hvac_mode: room.hvac_mode,\n                        hvac_status: room.hvac_status,\n                        lighting_dimmer: room.lighting_dimmer,\n                        alpha: room.alpha,\n                        beta: room.beta,\n                        current_version: room.version\n                    }\n                }\n            ]\n        })\n    });\n}\n\nflow.set(\"rooms\", undefined);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 740,
        "wires": [
            [
                "9a3a48a66b32597a",
                "abb58e212e9ce56b"
            ]
        ]
    },
    {
        "id": "9a3a48a66b32597a",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "c92d97f6a1c80bb5",
        "type": "mqtt out",
        "z": "cee4ba86b582e75a",
        "name": "ThingsBoard Gateway Attributes",
        "topic": "v1/gateway/attributes",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1300,
        "y": 550,
        "wires": []
    },
    {
        "id": "844cfb3d2b766a14",
        "type": "mqtt in",
        "z": "cee4ba86b582e75a",
        "name": "TB Shared Attrs (OTA)",
        "topic": "v1/devices/me/attributes",
        "qos": "1",
        "datatype": "json",
        "broker": "tb_direct_broker",
        "inputs": 0,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "f342e19c21cf0e5d",
                "dbg_ota_844cfb3d"
            ]
        ]
    },
    {
        "id": "f342e19c21cf0e5d",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "Filter OTA Payload",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\n\n// Master (floor 0) has no TB gateway connection — it never receives these messages.\nif (floor === 0) return null;\n\nlet payload = msg.payload;\n\n// Handle v1/devices/me/attributes format (shared wrapper from TB server push)\nif (payload && payload.shared) {\n    payload = payload.shared;\n    msg.payload = payload;\n}\n// Handle legacy v1/gateway/attributes format (child device attr notification)\nelse if (payload && payload.device && payload.data) {\n    payload = payload.data;\n    msg.payload = payload;\n    msg.deviceName = payload.device;\n}\n\n// 1. Basic validation\nconst required = [\"config_data\", \"signature\", \"target_version\", \"target\"];\nif (!required.every(k => payload.hasOwnProperty(k))) return null;\n\n// Also ignore empty config_data (initial provisioning default)\nif (!payload.config_data) return null;\n\nconst target = payload.target;\nconst floorPad = String(floor).padStart(2, '0');\n\n// 2. Responsibility Check — each worker handles its own floor only.\nif (target === \"all\") {\n    // Re-target to this floor so each worker covers its 20 rooms independently.\n    // Avoids 10 identical broadcast messages hitting every room.\n    msg.payload = Object.assign({}, payload, { target: `floor_${floorPad}` });\n} else if (target.startsWith(\"floor_\")) {\n    const targetFloor = parseInt(target.split(\"_\")[1], 10);\n    if (floor !== targetFloor) return null;\n} else if (target.startsWith(\"b01-f\")) {\n    const targetFloor = parseInt(target.substring(5, 7), 10);\n    if (floor !== targetFloor) return null;\n} else {\n    return null;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "x": 450,
        "y": 880,
        "wires": [
            [
                "d9f53dff88d47c20",
                "dbg_ota_f342e19c"
            ]
        ]
    },
    {
        "id": "d9f53dff88d47c20",
        "type": "mqtt out",
        "z": "cee4ba86b582e75a",
        "name": "Publish OTA to Rooms",
        "topic": "campus/b01/ota/config",
        "qos": "2",
        "retain": "false",
        "broker": "73b48127bf2649bd",
        "x": 710,
        "y": 880,
        "wires": []
    },
    {
        "id": "141517246f685b35",
        "type": "mqtt in",
        "z": "cee4ba86b582e75a",
        "name": "Room OTA Ack",
        "topic": "campus/b01/ota/ack",
        "qos": "1",
        "datatype": "json",
        "broker": "73b48127bf2649bd",
        "inputs": 0,
        "x": 190,
        "y": 980,
        "wires": [
            [
                "474e5dae73a23400",
                "dbg_ota_14151724"
            ]
        ]
    },
    {
        "id": "474e5dae73a23400",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "Format Version for TB",
        "func": "// msg.payload comes from the engine OTA ack:\n// { deviceName: 'b01-f01-r001', current_version: '2.0' }\nconst p = msg.payload;\nif (!p || !p.deviceName || !p.current_version) return null;\n\n// Track floor-level ack count in flow context for widget progress\nconst countKey = 'ota_acked_' + p.current_version;\nconst count = (flow.get(countKey) || 0) + 1;\nflow.set(countKey, count);\n\n// Output 1: Update child device telemetry via TB gateway protocol\nconst msg1 = Object.assign({}, msg, {\n    topic: 'v1/gateway/telemetry',\n    payload: JSON.stringify({\n        [p.deviceName]: [{\n            ts: Date.now(),\n            values: { current_version: p.current_version }\n        }]\n    })\n});\n\n// Output 2: Publish this floor's cumulative ack count as own device telemetry\nconst msg2 = {\n    payload: JSON.stringify({\n        ota_floor_acked: count,\n        ota_acked_version: p.current_version\n    })\n};\n\nreturn [msg1, msg2];",
        "outputs": 2,
        "x": 450,
        "y": 980,
        "wires": [
            [
                "d545b9bd2ca8e132",
                "dbg_ota_474e5dae"
            ],
            [
                "floor_ota_telemetry_out"
            ]
        ]
    },
    {
        "id": "d545b9bd2ca8e132",
        "type": "mqtt out",
        "z": "cee4ba86b582e75a",
        "name": "Update TB current_version (gateway telemetry)",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 750,
        "y": 980,
        "wires": []
    },
    {
        "id": "telemetry_debug",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "TB Telemetry Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 150,
        "wires": []
    },
    {
        "id": "dbg_ota_844cfb3d",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "Debug: TB Attrs IN",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 940,
        "wires": []
    },
    {
        "id": "dbg_ota_f342e19c",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "Debug: Filter OTA OUT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 940,
        "wires": []
    },
    {
        "id": "dbg_ota_d9f53dff",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "Debug: Publish OTA Rooms",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 940,
        "wires": []
    },
    {
        "id": "dbg_ota_14151724",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "Debug: Room Ack IN",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 200,
        "y": 1040,
        "wires": []
    },
    {
        "id": "dbg_ota_474e5dae",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "Debug: Format Version OUT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1040,
        "wires": []
    },
    {
        "id": "dbg_ota_d545b9bd",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "Debug: Update TB version",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1040,
        "wires": []
    },
    {
        "id": "floor_ota_telemetry_out",
        "type": "mqtt out",
        "z": "cee4ba86b582e75a",
        "name": "Publish Floor OTA Ack Count",
        "topic": "v1/devices/me/telemetry",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 710,
        "y": 1080,
        "wires": []
    },
    {
        "id": "gw_attr_router",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "Route GW Attr to Room Cmd",
        "func": "\nlet body = msg.payload;\nlet deviceName = body.device;\nlet data = body.data || {};\nif (data.shared) {\n    // ThingsBoard gateway may wrap shared attrs under data.shared\n    data = data.shared;\n}\nif (!deviceName) return null;\n\nlet cmdPayload = null;\nlet topic = null;\nconst deviceMatch = deviceName.match(/^b01-f(\\d{2})-r(\\d{3})$/);\nif (!deviceMatch) return null;\n\nif (data.hvac_command) {\n    cmdPayload = { hvac_mode: data.hvac_command };\n    topic = `campus/b01/cmd/${deviceName}`;\n} else if (data.dimmer_command) {\n    cmdPayload = { lighting_dimmer: parseInt(data.dimmer_command, 10) };\n    topic = `campus/b01/f${deviceMatch[1]}/r${deviceMatch[2]}/actuator/light_dimmer`;\n}\nif (!cmdPayload) return null;\n\nnode.log(`Attr for ${deviceName} -> ${topic}: ${JSON.stringify(cmdPayload)}`);\n\nreturn {\n    topic: topic,\n    payload: JSON.stringify({\n        ...cmdPayload,\n        device_name: deviceName,\n        transport: 'mqtt'\n    })\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 500,
        "wires": [
            [
                "debug_attr_all"
            ]
        ]
    },
    {
        "id": "debug_attr_all",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "DEBUG ATTR",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "gw_attr_worker_in",
        "type": "mqtt in",
        "z": "cee4ba86b582e75a",
        "name": "TB GW Attr Listener",
        "topic": "v1/gateway/attributes",
        "qos": "1",
        "datatype": "json",
        "broker": "tb_direct_broker",
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "gw_attr_router",
                "debug_attr_all"
            ]
        ]
    },
    {
        "id": "floor_attr_listener",
        "type": "mqtt in",
        "z": "cee4ba86b582e75a",
        "name": "TB Floor Attrs (Commands)",
        "topic": "v1/devices/me/attributes",
        "qos": "1",
        "datatype": "json",
        "broker": "tb_direct_broker",
        "inputs": 0,
        "x": 190,
        "y": 560,
        "wires": [
            [
                "floor_attr_router",
                "debug_floor_attr_in"
            ]
        ]
    },
    {
        "id": "floor_attr_router",
        "type": "function",
        "z": "cee4ba86b582e75a",
        "name": "Route Floor Attrs to Room Cmd",
        "func": "\nconst floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorPad = String(floor).padStart(2, '0');\n\nlet payload = msg.payload;\nif (payload && payload.shared) {\n    payload = payload.shared;\n}\n\nlet messages = [];\n\nfor (let key in payload) {\n    const match = key.match(/^(hvac_mode|target_temp|lighting_dimmer)_r(\\d+)$/);\n    if (match) {\n        const cmdType = match[1];\n        const roomNum = match[2];\n        const value = payload[key];\n        \n        const roomIndex = parseInt(roomNum, 10);\n        const floorOffset = (floor - 1) * 20;\n        const realRoomNum = floorOffset + roomIndex;\n        const realRoomStr = String(realRoomNum).padStart(3, '0');\n        \n        let deviceName = `b01-f${floorPad}-r${realRoomStr}`;\n        if ((roomIndex - 1) % 2 !== 0) {\n            deviceName += \"-COAP\";\n        }\n        \n        let cmdPayload = {};\n        let topic = `campus/b01/cmd/${deviceName}`;\n        \n        if (cmdType === 'hvac_mode') {\n            cmdPayload = { hvac_mode: value };\n        } else if (cmdType === 'target_temp') {\n            cmdPayload = { target_temp: value };\n        } else if (cmdType === 'lighting_dimmer') {\n            cmdPayload = { lighting_dimmer: value };\n            topic = `campus/b01/f${floorPad}/r${realRoomStr}/actuator/light_dimmer`;\n        }\n        \n        node.log(`Floor Attr for ${key} -> ${deviceName}: ${JSON.stringify(cmdPayload)}`);\n        \n        messages.push({\n            topic: topic,\n            payload: JSON.stringify({\n                ...cmdPayload,\n                device_id: deviceName,\n                transport: deviceName.includes('COAP') ? 'coap' : 'mqtt'\n            })\n        });\n    }\n}\n\nreturn [messages];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 560,
        "wires": [
            [
                "debug_attr_all"
            ]
        ]
    },
    {
        "id": "debug_floor_attr_in",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "DEBUG FLOOR ATTR IN",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 600,
        "wires": []
    },
    {
        "id": "tb_catch_all",
        "type": "mqtt in",
        "z": "cee4ba86b582e75a",
        "name": "TB CATCH-ALL",
        "topic": "#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "tb_direct_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "debug_catch_all"
            ]
        ]
    },
    {
        "id": "debug_catch_all",
        "type": "debug",
        "z": "cee4ba86b582e75a",
        "name": "DEBUG EVERYTHING TB",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "daabc8bff37f80fe",
        "type": "inject",
        "z": "e64a6d9b89c72938",
        "name": "start ack subscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "2a8b8d545ff4cea8"
            ]
        ]
    },
    {
        "id": "4d345996f00961da",
        "type": "inject",
        "z": "e64a6d9b89c72938",
        "name": "start cmd subscribe",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "2e796e0f34b223de"
            ]
        ]
    },
    {
        "id": "2e796e0f34b223de",
        "type": "function",
        "z": "e64a6d9b89c72938",
        "name": "Subscribe Floor Cmd",
        "func": "const floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorstr = floor.toString().padStart(2, '0');\nreturn {\n    action: 'subscribe',\n    topic: `campus/b01/cmd/f${floorstr}/+`,\n    qos: 1\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 500,
        "wires": [
            [
                "000678954e67ad01"
            ]
        ]
    },
    {
        "id": "000678954e67ad01",
        "type": "mqtt in",
        "z": "e64a6d9b89c72938",
        "name": "Floor Cmd",
        "topic": "",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "75bf69f74513b636",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "3fe1c37dd8716439"
            ]
        ]
    },
    {
        "id": "3fe1c37dd8716439",
        "type": "function",
        "z": "e64a6d9b89c72938",
        "name": "Route Floor Command",
        "func": "const topic = msg.topic || '';\nconst match = topic.match(/^campus\\/b01\\/cmd\\/f(\\d{2})\\/r(\\d{3})$/);\nif (!match) return null;\n\nlet payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.error('Command payload parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst floorNum = parseInt(match[1], 10);\nconst roomNum = parseInt(match[2], 10);\nconst transport = payload.transport || 'mqtt';\nconst deviceName = payload.device_name || `b01-f${match[1]}-r${match[2]}`;\nconst commandId = payload.command_id;\nif (!commandId) {\n    node.error('Missing command_id for floor command', msg);\n    return null;\n}\n\nconst pending = flow.get('pendingRpcAcks') || {};\nconst state = pending[commandId];\nif (!state) {\n    node.warn(`No pending RPC state for command_id ${commandId}`);\n    return null;\n}\n\nif (transport === 'coap') {\n    return [null, {\n        topic,\n        payload,\n        floorNum,\n        roomNum,\n        deviceName,\n        _rpc: {\n            commandId,\n            deviceName: state.deviceName,\n            rpcId: state.rpcId,\n            startedAt: state.startedAt,\n            requested: state.requested\n        }\n    }];\n}\n\nreturn [{\n    topic: `campus/b01/cmd/${deviceName}`,\n    payload: JSON.stringify({\n        ...payload,\n        command_id: commandId\n    })\n}, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 640,
        "wires": [
            [
                "7d1917eef0e5bc0c"
            ],
            [
                "92cd736757512543"
            ]
        ]
    },
    {
        "id": "92cd736757512543",
        "type": "function",
        "z": "e64a6d9b89c72938",
        "name": "Build CoAP PUT from Cmd",
        "func": "const roomNum = Number(msg.roomNum);\nif (!roomNum) return null;\n\nconst payload = msg.payload || {};\nconst coapHost = env.get('COAP_HOST') || 'campus_engine';\nconst cmdPayload = {};\nlet actuator = null;\nif (payload.hvac_mode !== undefined) {\n    cmdPayload.hvac_mode = payload.hvac_mode;\n    actuator = 'hvac';\n}\nif (payload.lighting_dimmer !== undefined) {\n    cmdPayload.lighting_dimmer = payload.lighting_dimmer;\n    actuator = 'light_dimmer';\n}\nif (!actuator) return null;\n\nmsg.url = `coap://${coapHost}:${5700 + roomNum - 1}/actuator/${actuator}`;\nmsg.method = 'PUT';\nmsg.payload = cmdPayload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "4f2f64d86d349a74"
            ]
        ]
    },
    {
        "id": "2a8b8d545ff4cea8",
        "type": "function",
        "z": "e64a6d9b89c72938",
        "name": "Subscribe Floor Acks",
        "func": "\nconst floor = Number(env.get('FLOOR_NUMBER') || 0);\nif (floor === 0) return null;\nconst floorstr = floor.toString().padStart(2, '0');\n\n// Subscribe to all ACKs for THIS floor\nnode.send({ action: 'subscribe', topic: `campus/b01/f${floorstr}/+/ack/hvac_applied`, qos: 1 });\nnode.send({ action: 'subscribe', topic: `campus/b01/f${floorstr}/+/ack/light_dimmer_applied`, qos: 1 });\nnode.log(`Subscribed to ACKs for floor ${floorstr}`);\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "865a9c232d33a3ea",
        "type": "function",
        "z": "e64a6d9b89c72938",
        "name": "Handle MQTT Ack",
        "func": "let payload = msg.payload;\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.error('MQTT ack parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst commandId = payload && payload.command_id;\nif (!commandId) return null;\n\nconst pending = flow.get('pendingRpcAcks') || {};\nconst state = pending[commandId];\nif (!state) return null;\n\ndelete pending[commandId];\nflow.set('pendingRpcAcks', pending);\n\nconst rttMs = Date.now() - state.startedAt;\nconst ackValues = {\n    rtt_ms: rttMs\n};\nif (payload.hvac_mode !== undefined) {\n    ackValues.hvac_mode = String(payload.hvac_mode).toLowerCase();\n    ackValues.hvac_status = String(payload.hvac_mode).toLowerCase();\n}\nif (payload.lighting_dimmer !== undefined) {\n    ackValues.lighting_dimmer = payload.lighting_dimmer;\n}\nif (state.requested !== undefined) {\n    ackValues.requested_value = state.requested;\n}\n\nreturn [\n    {\n        payload: JSON.stringify({\n            device: state.deviceName,\n            id: state.rpcId,\n            data: {\n                success: true,\n                state: payload.hvac_mode !== undefined ? String(payload.hvac_mode).toLowerCase() : payload.lighting_dimmer,\n                rtt_ms: rttMs,\n                ack: payload\n            }\n        })\n    },\n    {\n        payload: JSON.stringify({\n            [state.deviceName]: [\n                {\n                    ts: Date.now(),\n                    values: ackValues\n                }\n            ]\n        })\n    },\n    {\n        payload: {\n            source: 'mqtt-ack',\n            command_id: commandId,\n            device: state.deviceName,\n            rtt_ms: rttMs,\n            ack: payload\n        }\n    }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 480,
        "wires": [
            [
                "267dbf7e8e373788",
                "4c8e042c238b8a0e"
            ],
            [
                "11a36275724c4894"
            ],
            [
                "3e50c8ba0a21d973"
            ]
        ]
    },
    {
        "id": "ec6b174b263d3c1a",
        "type": "mqtt in",
        "z": "e64a6d9b89c72938",
        "name": "ThingsBoard RPC Listener",
        "topic": "v1/gateway/rpc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "tb_direct_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "rpc_router_id",
                "debug_rpc_all"
            ]
        ]
    },
    {
        "id": "rpc_router_id",
        "type": "function",
        "z": "e64a6d9b89c72938",
        "name": "RPC Protocol Router",
        "func": "\nconst floor = Number(env.get('FLOOR_NUMBER') || 0);\nlet body = msg.payload;\nif (typeof body === 'string') {\n    try { body = JSON.parse(body); } catch (e) { return null; }\n}\nconst rpcData = body.data || body || {};\nconst method = rpcData.method;\nconst params = rpcData.params || {};\nconst rpcId = body.id || rpcData.id;\nconst fullDeviceName = body.device || params.device || msg.topic.split('/').pop();\nif (!fullDeviceName || rpcId === undefined) return null;\n\nconst isCoap = fullDeviceName.endsWith('-COAP');\nconst deviceName = isCoap ? fullDeviceName.replace(/-COAP$/, '') : fullDeviceName;\nconst deviceMatch = deviceName.match(/^b01-f(\\d{2})-r(\\d{3})$/);\nif (!deviceMatch) return null;\n\nlet cmdPayload = null;\nlet topic = null;\nlet ackTopic = null;\nlet coapPath = null;\n\nif (method === 'hvac' || method === 'hvac_mode') {\n    const mode = typeof params === 'object' ? (params.hvac_mode || params.params) : params;\n    cmdPayload = { hvac_mode: mode };\n    topic = `campus/b01/cmd/${deviceName}`;\n    coapPath = 'actuator/hvac';\n    ackTopic = 'hvac_applied';\n} else if (method === 'light_dimmer' || method === 'lighting_dimmer') {\n    const val = typeof params === 'object' ? (params.lighting_dimmer || params.params) : params;\n    cmdPayload = { lighting_dimmer: parseInt(val, 10) };\n    topic = `campus/b01/f${deviceMatch[1]}/r${deviceMatch[2]}/actuator/light_dimmer`;\n    coapPath = 'actuator/light_dimmer';\n    ackTopic = 'light_dimmer_applied';\n}\nif (!cmdPayload) return null;\n\nconst commandId = `${deviceName}:${rpcId}`;\nconst pending = flow.get('pendingRpcAcks') || {};\npending[commandId] = {\n    deviceName: fullDeviceName,\n    rpcId,\n    startedAt: Date.now(),\n    requested: Object.values(cmdPayload)[0],\n    ackTopic\n};\nflow.set('pendingRpcAcks', pending);\n\nconst result = {\n    payload: JSON.stringify({\n        ...cmdPayload,\n        command_id: commandId,\n        rpc_id: rpcId,\n        device_name: deviceName,\n        transport: isCoap ? 'coap' : 'mqtt'\n    })\n};\n\nif (isCoap) {\n    const coapHost = env.get('COAP_HOST') || 'campus_engine';\n    const roomNum = parseInt(deviceMatch[2], 10);\n    const floorOffset = (floor - 1) * 20;\n    const port = 5700 + floorOffset + roomNum - 1;\n    result.url = `coap://${coapHost}:${port}/${coapPath}`;\n    return [null, result];\n} else {\n    result.topic = topic;\n    return [result, null];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "7d1917eef0e5bc0c"
            ],
            [
                "4f2f64d86d349a74"
            ]
        ]
    },
    {
        "id": "7d1917eef0e5bc0c",
        "type": "mqtt out",
        "z": "e64a6d9b89c72938",
        "name": "MQTT Command Publisher",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "75bf69f74513b636",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "4f2f64d86d349a74",
        "type": "coap request",
        "z": "e64a6d9b89c72938",
        "method": "PUT",
        "confirmable": true,
        "observe": false,
        "multicast": false,
        "multicastTimeout": 20000,
        "url": "",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "CoAP Command PUT",
        "x": 760,
        "y": 300,
        "wires": [
            [
                "1deb7af5ce18b1e9"
            ]
        ]
    },
    {
        "id": "1deb7af5ce18b1e9",
        "type": "function",
        "z": "e64a6d9b89c72938",
        "name": "Handle CoAP Ack",
        "func": "const rpc = msg._rpc;\nif (!rpc || !rpc.commandId) return null;\n\nlet payload = msg.payload;\nif (Buffer.isBuffer(payload)) {\n    payload = payload.toString('utf8');\n}\nif (typeof payload === 'string') {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        node.error('CoAP ack parse failed: ' + e.message, msg);\n        return null;\n    }\n}\n\nconst pending = flow.get('pendingRpcAcks') || {};\ndelete pending[rpc.commandId];\nflow.set('pendingRpcAcks', pending);\n\nconst rttMs = Date.now() - rpc.startedAt;\nconst ackValues = { rtt_ms: rttMs };\nif (payload.hvac_mode !== undefined) {\n    ackValues.hvac_mode = String(payload.hvac_mode).toLowerCase();\n    ackValues.hvac_status = String(payload.hvac_mode).toLowerCase();\n}\nif (payload.lighting_dimmer !== undefined) {\n    ackValues.lighting_dimmer = payload.lighting_dimmer;\n}\nif (payload.ambient !== undefined) {\n    ackValues.light_level = payload.ambient;\n}\nif (rpc.requested !== undefined) {\n    ackValues.requested_value = rpc.requested;\n}\n\nreturn [\n    {\n        payload: JSON.stringify({\n            device: rpc.deviceName,\n            id: rpc.rpcId,\n            data: {\n                success: true,\n                state: payload.hvac_mode !== undefined ? String(payload.hvac_mode).toLowerCase() : payload.lighting_dimmer,\n                rtt_ms: rttMs,\n                ack: payload\n            }\n        })\n    },\n    {\n        payload: JSON.stringify({\n            [rpc.deviceName]: [\n                {\n                    ts: Date.now(),\n                    values: ackValues\n                }\n            ]\n        })\n    },\n    {\n        payload: {\n            source: 'coap-ack',\n            command_id: rpc.commandId,\n            device: rpc.deviceName,\n            rtt_ms: rttMs,\n            ack: payload\n        }\n    }\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 340,
        "wires": [
            [
                "267dbf7e8e373788"
            ],
            [
                "11a36275724c4894"
            ],
            [
                "3e50c8ba0a21d973"
            ]
        ]
    },
    {
        "id": "11a36275724c4894",
        "type": "mqtt out",
        "z": "e64a6d9b89c72938",
        "name": "ThingsBoard Gateway Uplink",
        "topic": "v1/gateway/telemetry",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1290,
        "y": 500,
        "wires": []
    },
    {
        "id": "267dbf7e8e373788",
        "type": "mqtt out",
        "z": "e64a6d9b89c72938",
        "name": "ThingsBoard rpc verify",
        "topic": "v1/gateway/rpc",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "tb_direct_broker",
        "x": 1280,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e50c8ba0a21d973",
        "type": "debug",
        "z": "e64a6d9b89c72938",
        "name": "TB RPC Debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c8e042c238b8a0e",
        "type": "debug",
        "z": "e64a6d9b89c72938",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 760,
        "wires": []
    },
    {
        "id": "debug_rpc_all",
        "type": "debug",
        "z": "e64a6d9b89c72938",
        "name": "DEBUG RPC",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "debug_cmd_pub",
        "type": "debug",
        "z": "e64a6d9b89c72938",
        "name": "CMD PUBLISHED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 300,
        "wires": []
    }
]